<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) Spaarne Webdesign, Haarlem, The Netherlands
* @author Enno Stuurman <enno@spaarnewebdesign.nl>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Spaarne_StockLevel::StockLevel" title="StockLevel" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>
