<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) Spaarne Webdesign, Haarlem, The Netherlands
* @author Enno Stuurman <enno@spaarnewebdesign.nl>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="SpaarneAddStockLevelsToJsonConfig" type="Spaarne\StockLevel\Plugin\AddStockLevelsToJsonConfig" />
    </type>
</config>
