<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) Spaarne Webdesign, Haarlem, The Netherlands
* @author Enno Stuurman <enno@spaarnewebdesign.nl>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Spaarne_StockLevel"/>
</config>
